__pycache__
*.zip
*[A-Z]/
Armazones
Paranal
.idea
*.fits
*.reg
*.txt
!requirements.txt
*.pkl
*.pickle
*.egg-info/
*.mplf
src/
**/test_images*/
**/output_files*/

trials_scratches/fast_splines.py
trials_scratches/.ipynb_checkpoints/
