-e .
anisocado
astropy
matplotlib
numpy
-e git+git://github.com/krachyon/photutils.git@working#egg=photutils
scipy
scopesim
scopesim_templates
image_registration

pytest
pyckles
astwro
multiprocess
scikit-optimize
pandas

setuptools
scikit-learn
tqdm
ipython
ipywidgets
appdirs
dill
numba
pyFFTW
termcolor
zstandard
